In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Separate on and off rent assets**

In [3]:
y_test_url = 'https://raw.githubusercontent.com/carlsonnils/Titanic-Project/main/gender_submission.csv?token=ASQWS5HQH7KCIRY3WLPFRHTBK473E'
y_test = pd.read_csv(y_test_url)
X_test = pd.read_csv('https://raw.githubusercontent.com/carlsonnils/Titanic-Project/main/test.csv?token=ASQWS5D3DLTCNR7SE4BDRCTBK5ABQ')
train = pd.read_csv('https://raw.githubusercontent.com/carlsonnils/Titanic-Project/main/test.csv?token=ASQWS5GJI4E253OKCFQZN5TBK476Q')

HTTPError: HTTP Error 404: Not Found

# Fleet Stats

In [33]:
asset.describe()

,Model,BuildDate,ExitFleetDate,OriginalEquipmentCost,Group,Picture,_StatusSortOrder,_DaysInFleet,_TotalDaysOnRent,_%TimeOnRent,_Revenue,_ReturnOnInvestment,_On_Rent_OEC,Asset_OEC_percent,_On_Rent_percent
count,0.0,0.0,0.0,299.000000,0.0,0.0,299.000000,190.000000,300.000000,300.000000,228.000000,2.260000e+02,300.000000,299.000000,300.000000
mean,NaN,NaN,NaN,55949.986321,NaN,NaN,1.869565,1029.310526,323.806667,0.511499,62705.404943,4.235518e+04,32605.785100,0.334448,0.194905
std,NaN,NaN,NaN,81577.517068,NaN,NaN,0.908412,627.552147,345.580481,0.408193,122034.376004,6.367199e+05,66067.461875,0.487640,0.394927
min,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,377.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,8319.000000,NaN,NaN,1.000000,555.000000,0.000000,0.000000,9873.051450,2.293332e-01,0.000000,0.049728,0.000000
50%,NaN,NaN,NaN,26452.000000,NaN,NaN,2.000000,1032.500000,226.000000,0.425225,26695.000000,6.652034e-01,0.000000,0.158120,0.000000
75%,NaN,NaN,NaN,55375.000000,NaN,NaN,3.000000,1234.000000,365.500000,0.939662,62998.200000,1.388988e+00,38694.330000,0.331011,0.231300
max,NaN,NaN,NaN,426932.000000,NaN,NaN,3.000000,7211.000000,1277.000000,1.000000,927903.700000,9.572000e+06,354000.000000,2.552040,2.116080

# **Off rent assets**

In [5]:
off_rent = off_rent.sort_values('OriginalEquipmentCost', ascending=False)
print(len(off_rent['Id']))
# off_rent

155

In [4]:
off_rent_filtered = off_rent.iloc[:, [4, 9, 14, 15, 17, 18, 20, 21]]
off_rent_filtered
off_rent_OEC = off_rent['OriginalEquipmentCost'].sum()
print('OEC that is off rent $' + str(round(off_rent_OEC, 2)))

OEC that is off rent $6947310.38

In [6]:
off_rent_filtered.head()

,AssetNo,OriginalEquipmentCost,_Booked,_Status,_CurrentLocation,_AssetNoAndName,_DaysInFleet,_TotalDaysOnRent
0,R433,426932.00,False,Available for Rent,"Pueblo, CO 81006","R433 - 8' WIDE RAPISAND, NON-WHEELED, NO SKID,",NaN,0
1,R434,426932.00,False,Available for Rent,"Pueblo, CO 81006","R434 - 8' WIDE RAPISAND, NON-WHEELED, NO SKID,",NaN,0
2,R267,354889.37,False,Available for Rent,"ONEONTA, AL 35121",R267 - HORIZONTAL PRESSURE FILTER: 750 GPM,741.0,317
4,R268,351616.64,False,Available for Rent,"ONEONTA, AL 35121",R268 - HORIZONTAL PRESSURE FILTER: 750 GPM,741.0,0
5,R450,351000.00,False,Available for Rent,"JUNEAU, AK 99801",R450 - HORIZONTAL PRESSURE FILTER TRAILER: 750...,1337.0,977

## Never Rented

In [13]:
never_rented = off_rent_filtered[off_rent_filtered['_TotalDaysOnRent'] == 0]
never_rented.head()

,AssetNo,OriginalEquipmentCost,_Booked,_Status,_CurrentLocation,_AssetNoAndName,_DaysInFleet,_TotalDaysOnRent
0,R433,426932.00,False,Available for Rent,"Pueblo, CO 81006","R433 - 8' WIDE RAPISAND, NON-WHEELED, NO SKID,",NaN,0
1,R434,426932.00,False,Available for Rent,"Pueblo, CO 81006","R434 - 8' WIDE RAPISAND, NON-WHEELED, NO SKID,",NaN,0
4,R268,351616.64,False,Available for Rent,"ONEONTA, AL 35121",R268 - HORIZONTAL PRESSURE FILTER: 750 GPM,741.0,0
19,R352,229378.67,True,Booked,"MOSS POINT, MS 39562","R352 - RAPISAND: 2,500 GPM, 12'x34.5'x12'",485.0,0
24,R355,209082.49,True,Booked,"MOSS POINT, MS 39562","R355 - SUPERDISC FILTER 25 DISCS, ELEVATED ON ...",485.0,0

In [14]:
never_rented_OEC = never_rented['OriginalEquipmentCost'].sum()
print('OEC that has never been rented $' + str(round(never_rented_OEC, 2)))

OEC that has never been rented $2752873.77

#### Never Rented and not booked

In [31]:
never_booked = never_rented[never_rented['_Booked'] == False]
never_booked.head()

,AssetNo,OriginalEquipmentCost,_Booked,_Status,_CurrentLocation,_AssetNoAndName,_DaysInFleet,_TotalDaysOnRent
0,R433,426932.00,False,Available for Rent,"Pueblo, CO 81006","R433 - 8' WIDE RAPISAND, NON-WHEELED, NO SKID,",NaN,0
1,R434,426932.00,False,Available for Rent,"Pueblo, CO 81006","R434 - 8' WIDE RAPISAND, NON-WHEELED, NO SKID,",NaN,0
4,R268,351616.64,False,Available for Rent,"ONEONTA, AL 35121",R268 - HORIZONTAL PRESSURE FILTER: 750 GPM,741.0,0
35,R254,137343.21,False,Available for Rent,"ONEONTA, AL 35121","R254 - DAF R5 FRAC: 300 GPM, 200 GPM RECYCLE",760.0,0
36,R315,128024.00,False,Available for Rent,"SALT LAKE CITY, UT 84115",R315 - MOBILE SAND FILTER,729.0,0

In [32]:
never_booked_OEC = never_booked['OriginalEquipmentCost'].sum()
print('OEC that has never been rented $' + str(round(never_booked_OEC, 2)))

OEC that has never been rented $1807145.4